header{
    background-color: rgb(255, 250, 250);
}
headerdiv{
    margin-left: 10px;
}
.courser a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 110px;
    

}
.social{
    margin-left: 800px;
     
}