.table-content{
    border-collapse: collapse;
    margin: 25px 0px;
    font-size: 0.9em;
    width: 400px;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    
}
.table-content thead tr{
    background-color: #184d25;
    color: white;
    text-align: left;
}

.table-content th, .table-content td{
    padding: 15px 12px;
}
.table-content tbody td{
    border-bottom: 1px solid lightgrey;
}

.table-content tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
    color: #2dbd51;
}

.table-content tbody tr:last-of-type{
    border-bottom: 2px solid #2dbd51; 
}